@using MarminaAttendance.Identity;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/assets/vendors/select2/select2.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/custom-css.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />

</head>
<body>
<div class="container-scroller">
	@{
		bool isAuthenticated = User.Identity?.IsAuthenticated ?? false;
	}
	@if (@isAuthenticated is false)
	{
		<script>
	        window.location.href = "/account/login";
	    </script>
	}
	else
	{
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
		<div class="text-center sidebar-brand-wrapper d-flex align-items-center">
			<p class="sidebar-brand brand-logo" style="font-weight:bolder">Admin Dashboard</p>
			<a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="/"><img src="/assets/images/logo-mini.svg" alt="logo"/></a>
		</div>
		@{
			var user = UserManager.GetUserAsync(User).Result;
		}
		<ul class="nav">
			<li class="nav-item nav-profile">
				<a href="#" class="nav-link">
					<div class="nav-profile-image">
						@if (string.IsNullOrEmpty(@user?.Photo))
						{
							<img src="~/assets/images/auth/vector-users-icon.jpg" alt="user-profile"/>
						}
						else
						{
							<img src="/photos/users/@user?.Photo" alt="user-profile"/>
						}

						<span class="login-status online"></span>
						<!--change to offline or busy as needed-->
					</div>
					<div class="nav-profile-text d-flex flex-column pr-3 text-white">
						<span class="font-weight-medium mb-2">@user?.UserName</span>

					</div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-controller="Dashboard" asp-action="Index">
					<i class="mdi mdi-home menu-icon"></i>
					<span class="menu-title text-white">Dashboard</span>
				</a>
			</li>

			@if (UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "RootAdmin").Result)
			{
				<li class="nav-item">
					<a class="nav-link" asp-controller="Admins" asp-action="Index">
						<i class="fa-solid fa-user-shield menu-icon"></i>
						<span class="menu-title text-white">Admins</span>
					</a>
				</li>
			}
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" aria-expanded="false" href="#ui-basic" aria-controls="ui-basic">
					<i class="fa-solid fa-bed menu-icon"></i>
					<span class="menu-title text-white">Rooms</span>
					<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-basic">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link text-white" asp-controller="Rooms" asp-action="Index">Room</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" asp-controller="RoomDetails" asp-action="Index">Room Details</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" asp-controller="RoomImages" asp-action="Index">Room Images</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-controller="CMS" asp-action="Index">
					<i class="fa-solid fa-people-group menu-icon"></i>
					<span class="menu-title text-white">Our Team</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-controller="News" asp-action="Index">
					<i class="fa-solid fa-newspaper menu-icon"></i>
					<span class="menu-title text-white">News</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-controller="Reservations" asp-action="Index">
                    <i class="fa-solid fa-inbox menu-icon"></i>
					<span class="menu-title text-white">Reservations</span>
				</a>
			</li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Testimonies" asp-action="Index">
                    <i class="fa-regular fa-comment-dots  menu-icon"></i>
                    <span class="menu-title text-white">Testimony</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" aria-expanded="false" href="#ui-about" aria-controls="ui-about">
                    <i class="fa-solid fa-circle-info menu-icon"></i>
                    <span class="menu-title text-white">About</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-about">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="CMS" asp-action="CoverText">Covers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="CMS" asp-action="About">Hotel Details</a>
                        </li>
                    </ul>
                </div>
            </li>
			<li class="nav-item sidebar-actions">
				<div class="nav-link">
					<div class="mt-4">
						@* <div class="border-none">
                                <i class="fa-solid fa-user-gear  menu-icon"></i>
		                        <span class="text-black">Setting</span>
	                        </div>*@
						<ul class="mt-4 pl-0">
							<li>
								<a asp-page="/Account/Logout" asp-route-returnUrl="/Account/Login" style="text-decoration:none">
									<i class="mdi mdi-logout mr-2" style="color:white"></i> <span class="text-white">Sign out</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</nav>
	<div class="container-fluid page-body-wrapper">
		<div id="theme-settings" class="settings-panel">
			<i class="settings-close mdi mdi-close"></i>
			<p class="settings-heading">SIDEBAR SKINS</p>
			<div class="sidebar-bg-options selected" id="sidebar-default-theme">
				<div class="img-ss rounded-circle bg-light border mr-3"></div> Default
			</div>
			<div class="sidebar-bg-options" id="sidebar-dark-theme">
				<div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
			</div>
			<p class="settings-heading mt-2">HEADER SKINS</p>
			<div class="color-tiles mx-0 px-4">
				<div class="tiles light"></div>
				<div class="tiles dark"></div>
			</div>
		</div>
		<nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
			<div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
				<a class="navbar-brand brand-logo-mini align-self-center d-lg-none" asp-controller="Dashboard" asp-action="Index"><img src="/assets/images/logo-mini.svg" alt="logo"/></a>
				<button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
					<i class="mdi mdi-menu"></i>
				</button>

				<ul class="navbar-nav navbar-nav-right ml-lg-auto">

					<li class="nav-item nav-profile dropdown border-0">
						<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
							@if (string.IsNullOrEmpty(@user?.Photo))
							{
								<img class="nav-profile-img mr-2" src="~/assets/images/auth/vector-users-icon.jpg" alt="user-profile"/>

							}
							else
							{
								<img class="nav-profile-img mr-2" alt="user-profile" src="/photos/users/@user?.Photo"/>
							}

							<span class="profile-name">@user?.UserName</span>
						</a>
						<div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">

							<a class="dropdown-item" asp-page="/Account/Logout" asp-route-returnUrl="/Account/Login">
								<i class="mdi mdi-logout mr-2 text-primary"></i> Sign out
							</a>
						</div>
					</li>
				</ul>
				<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
					<span class="mdi mdi-menu"></span>
				</button>
			</div>
		</nav>
		<div class="main-panel">
			@RenderBody()

		</div>
		<!-- main-panel ends -->
	</div>      
	}
	
	<!-- page-body-wrapper ends -->
</div>
    <!-- container-scroller -->
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/file-upload.js"></script>
    <script src="~/assets/js/typeahead.js"></script>
    <script src="~/assets/js/select2.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://kit.fontawesome.com/4a8137dc1d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>