<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
		<security>
		    <requestFiltering>
			    <requestLimits maxQueryString="32768"/>
		    </requestFiltering>
		</security>
      <aspNetCore processPath="dotnet" arguments=".\App.Admin.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <system.webServer>
        <httpRedirect enabled="false" destination="" />
    </system.webServer>
</configuration>
<!--ProjectGuid: C0D9D50F-16FB-4CC9-A1B5-3D3A4009A0C2-->