@model App.Admin.ViewModels.RoomDetailsModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div style="margin-left:5%;margin-right:5%">
	<h1>Create</h1>

	<h4>Room Details</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create" enctype="multipart/form-data">
				<div id="loader" class="loader"></div>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="RoomDetailNameEn" class="control-label"></label>
					<input asp-for="RoomDetailNameEn" class="form-control" />
					<span asp-validation-for="RoomDetailNameEn" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="RoomDetailNameAr" class="control-label"></label>
					<input asp-for="RoomDetailNameAr" class="form-control" />
					<span asp-validation-for="RoomDetailNameAr" class="text-danger"></span>
				</div>
				@*<div class="form-group room-description-fields">
					<label asp-for="RoomDescriptionEn" class="control-label"></label>
					<input asp-for="RoomDescriptionEn" class="form-control" />
					<span asp-validation-for="RoomDescriptionEn" class="text-danger"></span>
				</div>
				<div class="form-group room-description-fields">
					<label asp-for="RoomDescriptionAr" class="control-label"></label>
					<input asp-for="RoomDescriptionAr" class="form-control" />
					<span asp-validation-for="RoomDescriptionAr" class="text-danger"></span>
				</div>*@
				
				
				<div class="form-group room-icon-field" style="display: none;">
					<label asp-for="RoomIcon" class="control-label"></label>
					<input asp-for="RoomIcon" class="form-control"/>
					<span asp-validation-for="RoomIcon" class="text-danger"></span>
				</div>

				<div class="form-group form-check">
					<label class="form-check-label">
						<input id="IsIcon" class="form-check-input" asp-for="IsIcon" /> @Html.DisplayNameFor(model => model.IsIcon)
					</label>
				</div>

				<div class="form-group" style="display: none;">
					<label asp-for="RoomId" class="control-label"></label>
					<input asp-for="RoomId" class="form-control" value="@ViewBag.RoomId"></input>
				</div>
				
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
	<div>
		<a asp-action="PreviewRoomDetails" asp-route-id="@ViewBag.RoomId">Back to List</a>
	</div>
</div>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>
		$(document).ready(function () {
			$('form').submit(function () {
				$('#loader').show();
			});
			toggleIconFields($('#IsIcon').is(':checked'));

			// Attach change event to the IsIcon checkbox
			$('#IsIcon').change(function () {
				toggleIconFields($(this).is(':checked'));
			});

			function toggleIconFields(isIconChecked) {
				var roomIconField = $('.room-icon-field');
				var descriptionFields = $('.room-description-fields');

				if (isIconChecked) {
					roomIconField.show();
					descriptionFields.hide();
				} else {
					roomIconField.hide();
					descriptionFields.show();
				}
			}
		});
	</script>
}
