@model App.Admin.ViewModels.RoomDetailsModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div style="margin-left:5%;margin-right:5%">
	<h1>Create</h1>

	<h4>Room Details</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create" enctype="multipart/form-data">
				<div id="loader" class="loader"></div>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="RoomDetailNameEn" class="control-label"></label>
					<input asp-for="RoomDetailNameEn" class="form-control" />
					<span asp-validation-for="RoomDetailNameEn" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="RoomDetailNameAr" class="control-label"></label>
					<input asp-for="RoomDetailNameAr" class="form-control" />
					<span asp-validation-for="RoomDetailNameAr" class="text-danger"></span>
				</div>
				<div class="descriptions-container">
					<div class="description">
						<div class="form-group">
							<label asp-for="Descriptions[0].RoomDescriptionEn" class="control-label"></label>
							<input asp-for="Descriptions[0].RoomDescriptionEn" class="form-control" type="text" />
						</div>
						<div class="form-group">
							<label asp-for="Descriptions[0].RoomDescriptionAr" class="control-label"></label>
							<input asp-for="Descriptions[0].RoomDescriptionAr" class="form-control" type="text" />
						</div>
						<button type="button" class="btn btn-danger remove-description-btn mb-3">Remove Description</button>
					</div>
				</div>
				
				<button type="button" class="btn btn-success add-description-btn  mt-2 mb-2">Add Description</button>
				<div class="form-group room-icon-field" style="display: none;">
					<label asp-for="RoomIcon" class="control-label"></label>
					<input asp-for="RoomIcon" class="form-control" type="file" accept="image/*" />
					<span asp-validation-for="RoomIcon" class="text-danger"></span>
				</div>

				<div class="form-group form-check">
					<label class="form-check-label">
						<input id="IsIcon" class="form-check-input" asp-for="IsIcon" /> @Html.DisplayNameFor(model => model.IsIcon)
					</label>
				</div>

				<div class="form-group" style="display: none;">
					<label asp-for="RoomId" class="control-label"></label>
					<input asp-for="RoomId" class="form-control" value="@ViewBag.RoomId"></input>
				</div>
				
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
	<div>
		<a asp-action="PreviewRoomDetails" asp-route-id="@ViewBag.RoomId">Back to List</a>
	</div>
</div>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>
		$(document).ready(function () {
			$('form').submit(function () {
				$('#loader').show();
			});

			$('#IsIcon').change(function () {
				var isIconChecked = $(this).is(':checked');
				toggleIconFields(isIconChecked);
				if (isIconChecked) {
					$('.descriptions-container .description').remove(); // Remove all description fields
					$('.add-description-btn').hide(); // Hide the "Add Description" button
				} else {
					$('.add-description-btn').show(); // Show the "Add Description" button
				}
			});

			function toggleIconFields(isIconChecked) {
				var roomIconField = $('.room-icon-field');
				var descriptionFields = $('.room-description-fields');

				if (isIconChecked) {
					roomIconField.show();
					descriptionFields.hide();
				} else {
					roomIconField.hide();
					descriptionFields.show();
				}
			}

			var descriptionCounter = 0; // Counter to keep track of description fields

			$('.add-description-btn').click(function () {
				addDescriptionField();
			});

			$('.descriptions-container').on('click', '.remove-description-btn', function () {
				$(this).closest('.description').remove();
			});

			function addDescriptionField() {
				var descriptionHtml = `
					<div class="description">
						<div class="form-group">
							<label for="Descriptions[${descriptionCounter}].RoomDescriptionEn" class="control-label">Room Description (English)</label>
							<input name="Descriptions[${descriptionCounter}].RoomDescriptionEn" class="form-control" type="text" />
						</div>
						<div class="form-group">
							<label for="Descriptions[${descriptionCounter}].RoomDescriptionAr" class="control-label">Room Description (Arabic)</label>
							<input name="Descriptions[${descriptionCounter}].RoomDescriptionAr" class="form-control" type="text" />
						</div>
						<button type="button" class="btn btn-danger remove-description-btn mb-3">Remove Description</button>
					</div>
				`;
				$('.descriptions-container').append(descriptionHtml);
				descriptionCounter++; // Increment the counter for the next description
			}
		});

	</script>
}
