@page
@using MarminaAttendance.Identity;
@using Microsoft.AspNetCore.Identity;
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home page";
  
}

<div class="text-center mt-5">
	<h1 class="display-4">Welcome</h1>
	<h2 class="display-4">Sanabat Hotel Dashboard</h2>
</div>
